name = "flayve"
compatibility_date = "2024-01-01"
pages_build_output_dir = "dist"
migrations_dir = "migrations"

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "webapp-production"
database_id = "b6e327ad-e5d2-4d9c-bdff-2ce790d8933f"

# R2 Storage binding
[[r2_buckets]]
binding = "BUCKET"
bucket_name = "flayve-assets"

[build]
command = "npm run build"
cwd = ""

[build.upload]
format = "directory"
dir = "dist"

[functions]
compatibility_flags = ["nodejs_compat"]
